/* Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Fundo*/

body {
    background: linear-gradient(to right, #8127ef, #751cab, #8127ef);
    color: white;
    text-align: center;
    padding: 20px;
}

/* Cabeçalho */
header {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* paragrafo estiloso */
p {
    font-size: 1.2em;
    margin: 10px 0;
}

/* botão */
button {
    background-color: #8127ef;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #8127ef;
    transform: scale(1.1);
}

/* rodapé */
footer {
    margin-top: 20px;
    font-size: 0.9em;
}